In [1]:
# Import liabaries

import pandas as pd

In [2]:
# Read file

ae = pd.read_csv('/Users/ching/SQL_Capstone_Program/db_athlete_events.csv/athlete_events_football.csv')

In [3]:
# See dataframe 

ae.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PK            6745 non-null   int64
 1   ID            6745 non-null   int64
 2   Name          6745 non-null   object
 3   Sex           6745 non-null   object
 4   Age           6745 non-null   int64
 5   Height        6745 non-null   int64
 6   Weight        6745 non-null   float64
 7   Team          6745 non-null   object
 8   NOC           6745 non-null   object
 9   Games         6745 non-null   object
 10  Year          6745 non-null   int64
 11  Season        6745 non-null   object
 12  City          6745 non-null   object
 13  Sport         6745 non-null   object
 14  Event         6745 non-null   object
 15  Medal         6745 non-null   object
 16  Medal_Binary  6745 non-null   int64
 17  BMI           6745 non-null   float64
dtypes: float64(2), int64(6), object(10)
memory usage: 948.6+ KB

In [4]:
# To See the correlation among the integer datatype columns using pearson method
ae.corr(method ='pearson')

,PK,ID,Age,Height,Weight,Year,Medal_Binary,BMI
PK,1.000000,0.999992,0.035844,0.017487,0.007540,-0.001521,0.026048,0.014993
ID,0.999992,1.000000,0.035826,0.017425,0.007491,-0.001721,0.026129,0.014941
Age,0.035844,0.035826,1.000000,0.166371,0.155433,0.154889,0.100045,0.160783
Height,0.017487,0.017425,0.166371,1.000000,0.950957,0.672830,0.011366,0.952303
Weight,0.007540,0.007491,0.155433,0.950957,1.000000,0.637081,0.024507,0.988137
Year,-0.001521,-0.001721,0.154889,0.672830,0.637081,1.000000,-0.063090,0.644967
Medal_Binary,0.026048,0.026129,0.100045,0.011366,0.024507,-0.063090,1.000000,0.023428
BMI,0.014993,0.014941,0.160783,0.952303,0.988137,0.644967,0.023428,1.000000

In [5]:
bi = pd.read_csv('/Users/ching/SQL_Capstone_Program/db_athlete_events.csv/athlete_events_binary.csv')

In [6]:
bi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   PK                   271116 non-null  int64
 1   ID                   271116 non-null  int64
 2   Name                 271116 non-null  object
 3   Sex                  271116 non-null  object
 4   Age                  271116 non-null  int64
 5   Height               271116 non-null  int64
 6   Weight               271116 non-null  float64
 7   Team                 271116 non-null  object
 8   NOC                  271116 non-null  object
 9   Games                271116 non-null  object
 10  Year                 271116 non-null  int64
 11  Season               271116 non-null  object
 12  City                 271116 non-null  object
 13  Sport                271116 non-null  object
 14  Event                271116 non-null  object
 15  Medal                271116 non-null  object
 16  Medal_Binary         271116 non-null  int64
 17  host_country_binary  271116 non-null  int64
dtypes: float64(1), int64(7), object(10)
memory usage: 37.2+ MB

In [7]:
# To See the correlation among the integer datatype columns using pearson method
bi.corr(method ='pearson')

,PK,ID,Age,Height,Weight,Year,Medal_Binary,host_country_binary
PK,1.000000,0.999993,0.000532,0.011128,0.010954,0.011944,0.012278,0.001211
ID,0.999993,1.000000,0.000555,0.011114,0.010938,0.011885,0.012307,0.001237
Age,0.000532,0.000555,1.000000,0.086514,0.114378,0.094453,0.041484,0.040661
Height,0.011128,0.011114,0.086514,1.000000,0.899466,0.652054,0.012714,-0.068214
Weight,0.010954,0.010938,0.114378,0.899466,1.000000,0.622125,0.027786,-0.078283
Year,0.011944,0.011885,0.094453,0.652054,0.622125,1.000000,-0.061552,-0.133227
Medal_Binary,0.012278,0.012307,0.041484,0.012714,0.027786,-0.061552,1.000000,0.077610
host_country_binary,0.001211,0.001237,0.040661,-0.068214,-0.078283,-0.133227,0.077610,1.000000